@page

@model HomePageModel

@{
    ViewData["Title"] = "Home Page";
}

<div x-data="me" x-cloak x-init="get()">
</div>

@section Scripts {
    <script>
        document.addEventListener("alpine:init", () => {
            me('@Thread.CurrentThread.CurrentCulture.ThreeLetterISOLanguageName');
        });
    </script>
}