@page

@model ResetPasswordModel

@{
    ViewData["Title"] = "Reset Password";
}

<div class="resetpassword" x-data="auth">
    <div class="text-center wrapper">
        <form x-on:submit.prevent>
            <div class="col-auto input-box">
                <input type="text" x-model="email" placeholder="Enter your email" />
            </div>
            <div class="col-auto mt-2">
                <button class="btn" type="submit" x-on:click="reset()" x-bind:disabled="email.trim().length == 0 || isBusy">Reset password</button> 
            </div>
            <div class="col-auto mt-2">
                <button class="btn" type="button" x-on:click="clear()" x-bind:disabled="email.trim().length == 0 || isBusy">Cancel</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("alpine:init", () => {
            auth('@Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName');
        });
    </script>
}