@page

@model UpdatePasswordModel

@{
    ViewData["Title"] = "Update Password";
}

<div class="updatepassword" x-data="auth">
    <div class="text-center wrapper">
        <form x-on:submit.prevent>
            <div class="col-auto input-box">
                <input type="password" x-model="password" placeholder="Enter your new password" />
            </div>
            <div class="col-auto input-box mt-2">
                <input type="password" x-model="confirmPassword" placeholder="Confirm password" />
            </div>
            <div class="col-auto mt-2">
                <button class="btn" type="submit" x-on:click="updatePassword()" x-bind:disabled="(password.trim().length == 0 && confirmPassword.trim().length == 0) || isBusy">Update password</button>
            </div>
            <div class="col-auto mt-2">
                <button class="btn" type="button" x-on:click="clear()" x-bind:disabled="(password.trim().length == 0 && confirmPassword.trim().length == 0) || isBusy">Cancel</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("alpine:init", () => {
            auth('@Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName');
        });
    </script>
}